<mat-card class="cardWithShadow">
  <mat-card-content>
    <!-- Header -->
    <div class="row m-b-24">
      <div class="col-sm-4 d-flex align-items-center">
        <h4 class="f-s-18 f-w-600">Contract: {{ contract?.contractId }}</h4>
      </div>
      <div class="col-sm-8 text-right">
        <button mat-stroked-button class="m-r-10" (click)="onBack()">
          Back to Contracts
        </button>
        <button mat-flat-button color="primary" (click)="onEdit()">
          Edit Contract
        </button>
      </div>
    </div>

    <mat-divider></mat-divider>

    <!-- Contract Status and Date -->
    <div class="row p-y-24">
      <div class="col-sm-6">
        <span class="f-w-600 f-s-15">Contract Status:</span>
        <h6 class="m-t-5 m-b-0 f-w-500 f-s-14">
          {{ getStatusLabel(contract?.status) }}
        </h6>
      </div>
      <div class="col-sm-6 text-right">
        <span class="f-w-600 f-s-15">Sign Date:</span>
        <h6 class="m-t-5 m-b-0 f-w-500 f-s-14">
          {{ contract?.signDate | date : "fullDate" }}
        </h6>
      </div>
    </div>

    <mat-divider></mat-divider>

    <!-- Contract Details -->
    <div class="row p-y-24">
      <div class="col-sm-6">
        <span class="f-w-600 f-s-15">Contract Name:</span>
        <h6 class="m-t-5 m-b-0 f-w-500 f-s-14">{{ contract?.name }}</h6>
      </div>
      <div class="col-sm-6 text-right">
        <span class="f-w-600 f-s-15">Liquidation Date:</span>
        <h6 class="m-t-5 m-b-0 f-w-500 f-s-14">
          {{ contract?.liquidationDate | date : "fullDate" }}
        </h6>
      </div>
    </div>
    <!-- Export Button -->
    <div class="row mb-3">
      <div class="col-sm-12 d-flex justify-content-end">
        <button mat-flat-button color="primary" (click)="exportItemsToExcel()">
          <mat-icon class="mr-2">download</mat-icon>
          Export Items to Excel
        </button>
      </div>
    </div>
    <div class="table-responsive">
      <table mat-table [dataSource]="contract?.items || []" class="w-100">
        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef class="f-s-15 f-w-600">
            Item Name
          </th>
          <td mat-cell *matCellDef="let item">{{ item.name }}</td>
        </ng-container>

        <!-- Unit Column -->
        <ng-container matColumnDef="unit">
          <th mat-header-cell *matHeaderCellDef class="f-s-15 f-w-600">Unit</th>
          <td mat-cell *matCellDef="let item">{{ item.unit }}</td>
        </ng-container>

        <!-- Price Column -->
        <ng-container matColumnDef="price">
          <th mat-header-cell *matHeaderCellDef class="f-s-15 f-w-600">
            Unit Price
          </th>
          <td mat-cell *matCellDef="let item">
            {{ item.price | vndCurrency }}
          </td>
        </ng-container>

        <!-- Quantity Column -->
        <ng-container matColumnDef="quantity">
          <th mat-header-cell *matHeaderCellDef class="f-s-15 f-w-600">
            Quantity
          </th>
          <td mat-cell *matCellDef="let item">{{ item.quantity }}</td>
        </ng-container>

        <!-- Total Column -->
        <ng-container matColumnDef="total">
          <th mat-header-cell *matHeaderCellDef class="f-s-15 f-w-600">
            Total
          </th>
          <td mat-cell *matCellDef="let item">
            {{ item.total | vndCurrency }}
          </td>
        </ng-container>

        <!-- Header and Row Definitions -->
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

        <!-- No Data Row -->
        <tr class="mat-row" *matNoDataRow>
          <td
            class="mat-cell text-center"
            [attr.colspan]="displayedColumns.length"
          >
            No items available
          </td>
        </tr>
      </table>
    </div>

    <!-- Totals -->
    <div class="text-right m-t-30">
      <h5 class="m-b-5 f-w-600 f-s-16">
        Total: {{ calculateSubTotal() | vndCurrency }}
      </h5>
    </div>
  </mat-card-content>
</mat-card>

<!-- filepath: d:\OneDrive - Hanoi University of Science and Technology\Workspace\contract_management\modernize-free-angular-v4\src\app\components\contract\contract-view\contract-view.component.html -->

<!-- Files Card -->
<div class="row mt-4">
  <div class="col-sm-12">
    <mat-card class="cardWithShadow">
      <mat-card-content>
        <h4 class="mb-3">Contract Files</h4>
        <div class="table-responsive">
          <table mat-table [dataSource]="filesDataSource" class="w-100">
            <!-- File Name Column -->
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef class="f-s-15 f-w-600">
                File Name
              </th>
              <td mat-cell *matCellDef="let file">{{ file.name }}</td>
            </ng-container>

            <!-- File Type Column -->
            <ng-container matColumnDef="type">
              <th mat-header-cell *matHeaderCellDef class="f-s-15 f-w-600">
                Type
              </th>
              <td mat-cell *matCellDef="let file">{{ file.type }}</td>
            </ng-container>

            <!-- File Size Column -->
            <ng-container matColumnDef="size">
              <th mat-header-cell *matHeaderCellDef class="f-s-15 f-w-600">
                Size
              </th>
              <td mat-cell *matCellDef="let file">
                {{ formatFileSize(file.size) }}
              </td>
            </ng-container>

            <!-- Created At Column -->
            <ng-container matColumnDef="createdAt">
              <th mat-header-cell *matHeaderCellDef class="f-s-15 f-w-600">
                Uploaded At
              </th>
              <td mat-cell *matCellDef="let file">
                {{ file.createdAt | date : "yyyy-MM-dd" }}
              </td>
            </ng-container>

            <!-- Created By Column -->
            <ng-container matColumnDef="createdBy">
              <th mat-header-cell *matHeaderCellDef class="f-s-15 f-w-600">
                Uploaded By
              </th>
              <td mat-cell *matCellDef="let file">{{ file.createdBy }}</td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="fileColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: fileColumns"></tr>

            <!-- No Data Row -->
            <tr class="mat-row" *matNoDataRow>
              <td
                class="mat-cell text-center"
                [attr.colspan]="fileColumns.length"
              >
                No files available
              </td>
            </tr>
          </table>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<div class="row">
  <!-- Action Logs Card -->
  <div class="col-sm-12">
    <mat-card class="cardWithShadow">
      <mat-card-content>
        <h4 class="mb-3">Action Logs</h4>
        <div class="table-responsive">
          <table mat-table [dataSource]="actionLogsDataSource" class="w-100">
            <!-- Action Log ID Column -->
            <ng-container matColumnDef="id">
              <th mat-header-cell *matHeaderCellDef>Action Log ID</th>
              <td mat-cell *matCellDef="let element">
                {{ element.id }}
              </td>
            </ng-container>

            <!-- Type Column -->
            <ng-container matColumnDef="type">
              <th mat-header-cell *matHeaderCellDef>Type</th>
              <td mat-cell *matCellDef="let element">{{ element.type }}</td>
            </ng-container>

            <!-- Created At Column -->
            <ng-container matColumnDef="createdAt">
              <th mat-header-cell *matHeaderCellDef>Created At</th>
              <td mat-cell *matCellDef="let element">
                {{ element.createdAt | date : "medium" }}
              </td>
            </ng-container>

            <!-- Created By Column -->
            <ng-container matColumnDef="createdBy">
              <th mat-header-cell *matHeaderCellDef>Created By</th>
              <td mat-cell *matCellDef="let element">
                {{ element.createdBy }}
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="actionLogColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: actionLogColumns"></tr>
          </table>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
