html .blue_theme {
  --mat-sys-primary: rgb(240, 22, 55);
  --mat-sys-primary-fixed-dim: rgb(240, 22, 55, 0.15);
  --mat-sys-secondary: rgb(68, 183, 247);
  --mat-sys-secondary-fixed-dim: rgb(68, 183, 247, 0.15);
}
